body{
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
 }
 
 
 .menu{
    display: flex;
    flex-direction: row;
    position: relative;
 }

 .toggle{
    background-color:#30BDF2;
    height: 80px;
    width: 80px;
    color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
 }

 .items{
    display: flex;
    flex-direction: row;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
 }

 .items>a{
    display: flex;
    background-color: white;
    height: 80px;
    width:80px;
    color:#b2b2b2 ;
    text-decoration: none;>
    align-items: center;
    justify-content: center;
 }

 .toggle>.material-icons{
    font-size: 60px;
 }
 a>.material-icons{
 
    font-size: 30px;
 
 }
 
 a:hover>.material-icons{
    font-size: 40px;
    color:#30BDF2;
 }

 div {
    margin: 0;
  }
  
  main {
    width: 100%;
    margin: 0;
  }
  
  .heading {
    text-align: center;
        background-color: #00718F;
        color: black;
        padding: 15px 0px 15px 0px;
    margin: auto;
  
       }
  
  footer {
    margin: 15px 0 15px 30px;
  }
  
  .top-bar {
    background-color: #faf0e6;
    text-indent: 30px;
    padding: 30px;
    margin: 35px;
    border-radius: 20px;
       }

       section1 {
        width: 100%;
        height: 100vh;
        margin: 0;
        font-family: Tahoma;
      }